---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Loader from '../components/loader.astro';
import Showcase from '../components/showcase.astro';
import '../styles/global.css';
import bimg from "../images/tmp.jpeg"

export interface Props {
  title?: string;
  logo?: string;
}
const { title = 'Astro Crash Course' , logo = ''} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>{title}</title>
    <link rel = "icon" href= {logo} type="image/x-icon" sizes="48x48">
  </head>
  <body>
    <Loader logo={logo}/>
    <section class = "">
      <div>
          <img src = {bimg} class = "background">
      </div>
      <div class = "justify-items-center">
          <img src = {logo} class = "logo-color h-56 w-56" alt = "">
      </div>
  </section>
    <!-- <Showcase showExtra={true}/> -->
    <!-- <Header /> -->
    <!-- <slot /> -->
    <!-- <Footer /> -->
  </body>
</html>

<style>
  .background{
    /* filter: sepia(100%); */
  }

  .logo-color{
    /* filter: invert(85%) sepia(0%) saturate(25%) hue-rotate(155deg) brightness(98%) contrast(91%); */
    position: fixed;
    top: 0;
    left: 0;
    /* height: 10%; */
    /* width: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
</style>